* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
.footer {
  background-color: #000;
  color: #fff;
}

.footer .social {
  text-align: center;
  padding: bottom 25px;
}
